@mixin sm {
    @media (max-width: 738px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin lg {
    @media (max-width: 1366px) {
        @content;
    }
}

.profilePage {
    @include md {
        flex-direction: column;
    }

    .details {
        flex: 3;
        overflow-y: scroll;
        padding-bottom: 50px;

        @include md {
            flex: none;
            height: max-content;
        }

        .wrapper {
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title {
                display: flex;
                justify-content: space-between;

                h1 {
                    font-weight: 600;
                }

                button {
                    background-color: #fece51;
                    cursor: pointer;
                    border: none;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}