@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
    -moz-overflow-x: hidden;
    -ms-overflow-x: hidden;
    -o-overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

@layer components {
    .primary-btn {
        @apply inline-block bg-primary text-white font-semibold rounded-lg duration-200 py-2 px-6;
        &:hover {
            @apply bg-blue
        }
    }
    .button {
        @apply font-medium py-2 px-6 bg-gradient-to-l text-white border-none rounded-md transition duration-300 ease-in overflow-hidden;
        &:hover {
            @apply cursor-pointer scale-105
        }
    }
}

@layer base {
     :root {
        --secondary: rgba(255, 255, 255, 0.78);
        --bluegradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
        --orange-gradient: 270deg, #ffb978 0%, #ff922d 100%;
        --shadow: 0px 23px 21px -8px 136, 160, 255, 0.25;
        /**

* typography
*/
        --ff-nunito-sans: "Nunito Sans", sans-serif;
        --ff-poppins: "Poppins", sans-serif;
        --fs-1: 1.875rem;
        --fs-2: 1.5rem;
        --fs-3: 1.375rem;
        --fs-4: 1.125rem;
        --fs-5: 0.875rem;
        --fs-6: 0.813rem;
        --fs-7: 0.75rem;
        --fw-500: 500;
        --fw-600: 600;
        --fw-700: 700;
        /**
* transition
*/
        --transition: 0.25s ease;
        /**

* shadow
*/
        --shadow-1: 0 5px 20px 0 hsla(219, 56%, 21%, 0.1);
        --shadow-2: 0 16px 32px hsla(188, 63%, 7%, 0.1);
    }
}

.hide {
    transform: translateY(-100%);
}

.grad {
    background: var(--bluegradient);
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* REUSABLE */

.section-subtitle {
    font-family: monospace;
    letter-spacing: 0.35em;
    font-size: 1.5rem;
}

.flexColStart {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.shadow-c {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.overlay {
    transition: opacity 0.3s ease-in-out;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
}


/* ==================== */


/* About */

.about-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.about-item-icon {
    background: palegoldenrod;
    height: 45px;
    min-width: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: black;
}


/* ------------------------------ *\
SERVICES
/* ------------------------------ */

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.service-card {
    text-align: center;
    padding: 60px 20px;
    border-radius: 3ch;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    .so {
        @media (prefers-color-scheme: dark) {
            background-color: rgb(255 255 255);
        }
    }
}

.service-card .card-icon {
    width: max-content;
    margin-inline: auto;
    margin-bottom: 20px;
}

.service-card .card-title {
    margin-bottom: 15px;
    font: bold 1.5rem sans-serif;
}

.service-card .card-text {
    font-weight: normal;
    font-size: var(--fs-4);
    line-height: 1.8;
    margin-bottom: 25px;
}

.service-hov:hover {
    color: #4066ff;
}


/* ------------------------------ *\
SERVICES
/* ------------------------------ */

#accordion-button {
    display: flex;
    justify-content: center;
}


/* --------------------- *\ 

/* ------------------------------ *\
Value
/* ------------------------------ */

.accordionItem {
    background: white;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    border-radius: 8px;
}


/* ------------------------------ */

.section-align {
    display: grid;
    gap: 2.75rem;
}


/* --------------------- *\ 

/* typing animation */

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}


/* Typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* property */


/* .card {
max-width: 20vw;
} */

.slider-card:hover img {
    scale: 1.05;
    transition: 0.4s ease-in-out;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 8px;
}

.card-item {
    padding-block: 5px;
    color: var(--cadet);
    font-size: var(--fs-5);
}

.card-item:not(:last-child) {
    padding-right: 15px;
    border-right: 1px solid hsla(0, 0%, 0%, 0.2);
    margin-right: 20px;
}

.card-item :is(strong, .icon) {
    display: inline-block;
    font-size: medium;
}

.card-item .icon {
    font-size: 1rem;
    margin-left: 6px;
    margin-bottom: -2px;
}

.property-card .card-item span {
    margin-top: 5px;
}

.arrow-container {
    box-shadow: 0 0 10px rgba(162, 163, 175, 0.5);
    cursor: pointer;
}

.card-badge {
    color: var(--white);
    font-size: var(--fs-7);
    text-transform: uppercase;
    position: absolute;
    top: 45px;
    right: 25px;
    padding: 4px 8px;
}

.banner-actions {
    position: absolute;
    top: 205px;
    left: 20px;
    z-index: 1;
}


/* ------------- */

.card-reg {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 0 20px 20px rgba(0, 0, 0, 0.6);
}

.icon-google {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* OWNER */

.round-outer {
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    position: relative;
    background-color: black;
}

.image-con {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    border: 2px solid;
}


/* ------------------------ */

@media(min-width: 768px) {
    .service-list>li {
        width: calc(50% - 15px);
    }
}


/* --------------------
------------------ */

@media(min-width: 992px) {
    .flexCenter {
        display: flex;
        row-gap: 2;
        align-items: center;
    }
    .container .typewrite {
        width: 100%;
        overflow: hidden;
        animation: typing 2s steps(94), cursor .4s step-end infinite alternate;
    }
    .section-align {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        ;
    }
    .service-list>li {
        width: calc(33.33% - 20px);
    }
    .round-outer {
        height: 60vh;
        width: 60vh;
    }
    .round-inner {
        height: 50vh;
        width: 50vh;
    }
    .image-con {
        height: 40vh;
        width: 40vh;
    }
}